<% provide(:title, 'Home') %>
		
		<title><%= yield(:title) %></title>


	<h1>The First Page</h1>
		<p>MY HOME PAGE</p>

		<a href="http://railstutorials.org/">Ruby On Rails</a>
		<br>sample application

